extends base

block content
    .report-title
        h1 Monthly report
    table 
        tr 
            th Distance (km)
            th Date
        each res in results 
            tr 
                td= res.distance 
                td= formatDate({dataInput: res.dateOfActivity,returnDate:true})